---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.scss";
import "../styles/waline.scss";
interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.9" />
<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />
<link rel="shortcut icon" href="/favicon.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />
<meta name="theme-color" content="#667eea" />
<meta name="generator" content={Astro.generator} />

<!-- Page Specific Metadata -->
<title>{title}</title>
<meta name="description" content={description} />
{image && <meta property="og:image" content={image} />}
<link rel="canonical" href={canonicalURL.toString()} />

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/CascadiaCode.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
